body {
    background-color: rgb(238, 245, 238);
}

#hadding h2 {
    padding-top: 30px;
    color: black;
}

#buttons {
    padding: 10px;
}

#buttons span {
    color: black;
}

h3 {
    padding: 10px;
}